@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap')

$ss-font-family-basic: 'Open Sans', 'sans-serif'
$ss-font-family-special: 'Raleway', 'sans-serif'

$ss-bg-color: #40C7C0
$ss-bg-color-special: #0b1c4d

$ss-font-color-darkblue: #2c3e50
$ss-font-color-black: #303030
$ss-font-color-white: #ffffff
$ss-font-color-blue: #0b1c4d

$ss-color-gold: #d4d200
